.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: white;
}

.dashboard-left {
  width: 20%;
  background-color: #364659; /* Replace with $dark-color from Login.scss */
  color: white; /* Ensure text is readable on the dark background */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dashboard-left-buttons {
  width: 100%; /* Ensure the button group spans the container */
  display: flex;
  flex-direction: column;
  gap: 8px; /* Space between the buttons */
  align-items: center;
}

.dashboard-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 buttons per row */
  grid-gap: 25px; /* Increased spacing between buttons */
  width: 80%;
  margin: auto;
  justify-items: center; /* Center grid items */
  align-items: center;
  animation: fadeIn 0.5s ease-in;
}

.user-info {
  margin-top: 20px;
  text-align: center;
}

.btn-questions, .btn-logout {
  width: 100%; /* Adjust width for alignment */
  font-size: 16px;
  margin: 8px;;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #6344A6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
      
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(99, 68, 166, 0.3);
  }

  &:active {
    background-color: lighten(#6344A6, 10%);
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.btn-questions:hover,
.btn-logout:hover {
  background-color: #7a56c8;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-action {
  width: 350px; /* Square button dimensions */
  height: 350px;
  border-radius: 15px; /* Slightly rounded corners */
  border: none;
  color: white;
  background-color: #6344A6; /* Solid purple */
  font-size: 40px; /* Adjust text size */
  text-align: center;
  cursor: pointer;
  display: flex; /* Center text inside the button */
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */

  &:hover {
    background-color: darken(#6344A6, 10%);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(99, 68, 166, 0.3);
  }

  &:active {
    background-color: lighten(#6344A6, 10%);
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .dashboard-left,
  .dashboard-right {
    width: 100%;
    box-shadow: none;
  }

  .dashboard-right {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .btn-action {
    width: 150px;
    height: 150px;
    font-size: 20px;
  }
}
